version: '3.8'

services:
  app:
    build: .
    environment:
      - HUME_API_KEY=${HUME_API_KEY}
      - RTSP_URL=${RTSP_URL}
      - MQTT_BROKER=mqtt
      - MQTT_PORT=1883
      - MQTT_TOPIC=facs/stream
    depends_on:
      - mqtt
    restart: always

  mqtt:
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf

